* {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: rgb(34, 34, 34);
  background-color: rgb(218, 218, 218);
     /* background: linear-gradient(
    to bottom,
    #FF9E68,#FF68DE
  ); */
  
  letter-spacing: 1.2px;
  margin: 0;
}

form {
  /* margin: 10px; */
  display: inline-block;
  box-shadow: 1px 2px 7px -2px rgba(0, 0, 0, 0.75);
  padding: 20px;
  border-radius: 5px;
  background-color: #fff;
  width: 65%;
  margin-top: 60px;
  margin-left: -130px;

  align-content: center;
}

.form-group {
  background-color: #fff;
}

form label {
  display: block;
  background-color: #fff;
  font-size: 18px;
  margin-bottom: 5px;
}

form .input-icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(223, 225, 233);
  border: none;
  padding: 0 15px;
  border-radius: 5px;
}

.input-icon input {
  border: none;
  background-color: rgb(223, 225, 233);
  padding: 10px 0;
  flex: 1;
}

.input-icon input:focus {
  outline: none;
}

.input-icon .icon-container {
  background-color: rgb(223, 225, 233);
}

.input-icon .icon {
  background-color: rgb(223, 225, 233);
  margin: 0;
  padding: 0;
  cursor: pointer;
}

form button {
  width: 100px;
  margin-top: 20px;
  align-content: center;
  border-radius: 10px;
  border: none;
  padding: 10px 20px;
  background-color: #3d5af1;
  color: white;
}
button{
  margin-left: 220px !important ;
  z-index: -1;
}
